<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yang.mapper.LinkageMapper">
    <select id="getLinkages" resultType="com.example.yang.pojo.Linkage">
        select id,name,link,discribe from linkages
    </select>
</mapper>
