<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yang.mapper.UserMapper">
    <select id="getUserList" resultType="com.example.yang.pojo.User">
        select * from ay_user
    </select>
    <select id="getUserById" parameterType="string" resultType="com.example.yang.pojo.User">
        select * from ay_user where id = #{id}
    </select>
    <select id="addUser" parameterType="com.example.yang.pojo.User">
        insert into ay_user(id, name, password) values (#{id}, #{name}, #{password})
    </select>
</mapper>